.swiper-pagination {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  right: 0;
  bottom: 22px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet  {
  margin: 0 0;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 22px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  margin: 0 0;
  background-color: #f4f4fc;
  transition: background-color .3s ease;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #7575e2;
  pointer-events: none;

}
